<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
  <h1 class="site-title"><a href="index.html"><em class="fa fa-recycle"></em> Kiwi</a></h1>

  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>

  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item"><a class="nav-link" ng-class="currentState == 'MainController' ? 'active' : ''" href="#/dashboard"><em class="fa fa-tachometer"></em> Dashboard </a></li>
    <li class="nav-item"><a class="nav-link" ng-class="currentState == 'RegionsController' ? 'active' : ''" href="#/regions"><em class="fa fa-globe"></em> Regiones & comunas </a></li>
    <li class="nav-item"><a class="nav-link" ng-class="currentState == 'TipsController' ? 'active' : ''" href="#/tips"><em class="fa fa-commenting"></em> Tips </a></li>
    <li class="nav-item"><a class="nav-link" ng-class="currentState == 'NotificationsController' ? 'active' : ''" href="#/notifications"><em class="fa fa-bell"></em> Notificaciones</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="currentState == 'UsersController' ? 'active' : ''" href="#/users"><em class="fa fa-user"></em> Usuarios</a></li>
    <li class="nav-item"><a class="nav-link" ng-class="currentState == 'PawControllers' ? 'active' : ''" href="#/paw"><em class="fa fa-paw"></em> Mascotas</a></li>
  </ul>

  <a href="#" ng-click="logout()" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
