<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
  <h1 class="site-title"><a href="index.html"><em class="fa fa-recycle"></em> Reciclapp</a></h1>

  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>

  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item"><a class="nav-link" ng-class="currentState == 'MainController' ? 'active' : ''" href="index.html"><em class="fa fa-tachometer"></em> Dashboard </a></li>
    <li class="nav-item"><a class="nav-link" ng-class="currentState == 'RegionsController' ? 'active' : ''" href="index.html"><em class="fa fa-globe"></em> Regiones & comunas </a></li>
    <li class="nav-item"><a class="nav-link" ng-class="currentState == 'TipController' ? 'active' : ''" href="widgets.html"><em class="fa fa-commenting"></em> Tips </a></li>
    <li class="nav-item"><a class="nav-link" href="charts.html"><em class="fa fa-bar-chart"></em> Charts</a></li>
    <li class="nav-item"><a class="nav-link" href="elements.html"><em class="fa fa-hand-o-up"></em> UI Elements</a></li>
    <li class="nav-item"><a class="nav-link" href="cards.html"><em class="fa fa-clone"></em> Cards</a></li>
  </ul>

  <a href="#" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
