<navbar></navbar>

<div class="container-fluid" id="wrapper" >
  <div class="row">


    <sidebar></sidebar>





    <main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
      <section class="row">
        <div class="col-sm-12">
          <section class="row">
            <div class="col-md-12 col-lg-6">


                <div class="card text-center bg-default">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item"><a class="nav-link" ng-class="current == 1 ? 'active' : ''" ng-click="select(1)">OneSignal</a></li>
                      <li class="nav-item"><a class="nav-link" ng-class="current == 2 ? 'active' : ''" ng-click="select(2)">Facebook</a></li>
                      <li class="nav-item"><a class="nav-link" ng-class="current == 3 ? 'active' : ''" ng-click="select(3)">Instagram</a></li>
                      <li class="nav-item"><a class="nav-link" ng-class="current == 4 ? 'active' : ''" ng-click="select(4)">Twitter</a></li>
                    </ul>
                  </div>
                  <div class="card-block">

                    <Loading ng-show="isLoading == true"></Loading>

                    <div class="" ng-show="isLoading == false">


                      <div class="" ng-show="current == 1">
                        <h4 class="card-title">Configuracion de OneSignal</h4>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">App id</label>
                          <div class="col-md-9">
                            <input type="text" name="regular" class="form-control" ng-model="onesignal.appid">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 col-form-label">Api Token</label>
                          <div class="col-md-9">
                            <input type="text" name="regular" class="form-control" ng-model="onesignal.token">
                          </div>
                        </div>

                        <a class="btn btn-md btn-primary" ng-click="update(1,onesignal)">Actualizar</a>
                      </div>



                    <div class="" ng-show="current == 2">
                      <h4 class="card-title">Configuracion de Facebook</h4>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">App id</label>
                        <div class="col-md-9">
                          <input type="text" name="regular" class="form-control" ng-model="onesignal.appid">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">Api Token</label>
                        <div class="col-md-9">
                          <input type="text" name="regular" class="form-control" ng-model="onesignal.token">
                        </div>
                      </div>

                      <a class="btn btn-md btn-primary" ng-click="update(1,onesignal)">Actualizar</a>
                    </div>



                    <div class="" ng-show="current == 3">
                      <h4 class="card-title">Configuracion de Instagram</h4>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">App id</label>
                        <div class="col-md-9">
                          <input type="text" name="regular" class="form-control" ng-model="onesignal.appid">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">Api Token</label>
                        <div class="col-md-9">
                          <input type="text" name="regular" class="form-control" ng-model="onesignal.token">
                        </div>
                      </div>

                      <a class="btn btn-md btn-primary" ng-click="update(1,onesignal)">Actualizar</a>
                    </div>


                    <div class="" ng-show="current == 4">
                      <h4 class="card-title">Configuracion de Twitter</h4>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">App id</label>
                        <div class="col-md-9">
                          <input type="text" name="regular" class="form-control" ng-model="onesignal.appid">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">Api Token</label>
                        <div class="col-md-9">
                          <input type="text" name="regular" class="form-control" ng-model="onesignal.token">
                        </div>
                      </div>

                      <a class="btn btn-md btn-primary" ng-click="update(1,onesignal)">Actualizar</a>
                    </div>




                  </div>
                  </div>


              </div>

      


                    </section>
                    <section class="row">
                      <div class="col-12 mt-1 mb-4">Template by <a href="https://www.medialoot.com">Medialoot</a></div>
                    </section>
                  </div>
                </section>
              </main>
            </div>
          </div>
