button{
  &.btn{
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;

    &.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border-color: #7376df;
    background-color: #7376df;
    color: #fff;
}
  }
}
